body{
font-family: Arial;
background:#0f172a;
color:white;
margin:0;
}

header{
background:#020617;
padding:15px;
display:flex;
justify-content:center;
gap:40px;
font-size:18px;
}

header a{
color:white;
text-decoration:none;
}

.container{
max-width:1100px;
margin:auto;
padding:20px;
}

.grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
}

.jogo{
background:#1e293b;
padding:15px;
border-radius:10px;
text-align:center;
}

.competicao{
font-size:12px;
color:#38bdf8;
margin-bottom:10px;
}

.times{
font-size:20px;
margin-bottom:10px;
}

.info{
font-size:14px;
color:#cbd5f5;
}

.filtros{
margin-bottom:20px;
}
